alembic==1.14.0
Arpeggio==2.0.2
bcrypt==4.2.1
bidict==0.23.1
blinker==1.8.2
certifi==2024.2.2
cffi==1.17.1
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
dataclasses==0.6
distlib==0.3.9
dnspython==2.7.0
eventlet==0.38.0
filelock==3.18.0
Flask==3.0.3
Flask-Cors==5.0.0
Flask-Migrate==4.0.7
Flask-SocketIO==5.4.1
Flask-SQLAlchemy==3.1.1
gevent==24.11.1
gevent-websocket==0.10.1
graphviz==0.20.3
greenlet==3.1.1
gunicorn==23.0.0
h11==0.14.0
idna==3.7
itsdangerous==2.2.0
Jinja2==3.1.4
keyboard==0.13.5
Mako==1.3.6
MarkupSafe==3.0.2
packaging==24.2
pillow==10.3.0
platformdirs==4.3.7
psycopg2-binary==2.9.10
pycparser==2.22
pydub==0.25.1
pygame==2.5.2
PyJWT==2.9.0
pyodbc==5.2.0
python-engineio==4.10.1
python-socketio==5.11.4
pytube==15.0.0
requests==2.32.2
simple-websocket==1.1.0
sounddevice==0.4.7
soundfile==0.12.1
SQLAlchemy==2.0.36
textX==4.0.1
tk==0.1.0
typing_extensions==4.12.2
urllib3==2.2.1
virtualenv==20.30.0
Werkzeug==3.1.2
wsproto==1.2.0
zope.event==5.0
zope.interface==7.1.1
